
.vs/Edit_Community/v15/.suo
.vs/Edit_Community/v15/Server/sqlite3/storage.ide
Edit_Community/Edit_Community.csproj
.vs/Edit_Community/v16/.suo
.vs/Edit_Community/v16/Server/sqlite3/storage.ide-wal
.vs/Edit_Community/v16/Server/sqlite3/storage.ide-shm
.vs/Edit_Community/v16/Server/sqlite3/storage.ide
.vs/Edit_Community/v16/Server/sqlite3/db.lock
.vs/